h1 {
    background-color: #ffdb8f;
    color: #585858;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #6f9dbe;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

#azulp {
    color: #6f9dbe;
}

#azulFuerte {
    color: #6f9dbe;
    font-weight: bolder;
    font-size: large;
}

body {
    background-color: #fff9ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-size: large;
}

#pselect {
    font-size: large;
}